@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&family=Playwrite+HU:wght@100..400&display=swap');

*{
            
            margin: auto;
            background-repeat: no-repeat;
            background-attachment: fixed;
             background-size: cover;
}
body{
     background-image: url(Fotos/fundo.png); 
    
}

nav{
      margin:4px;
      padding:4px;
      
   }

   nav > a {
         padding-left: 20px;
    }

    header {
      background-color: rgba(0, 0, 255, 0.267);
        font-family: Arial, Helvetica, sans-serif;
        margin: 200px;
    }
      
       header > h1{
        text-align: center;
    }

         
         header > h1 {
            font-family: "Playwrite HU", cursive;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
         }

         main{
            font-family: "Playwrite CL", cursive;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            font-size: large;
            background-color: rgba(127, 136, 255, 0.329);
           text-align: center;
           border-radius: 60px;
           margin-top: 10px;
           
         }

         section.teste{
            
            width: 300px;
            height: 400px;
            
         }
       
            footer{
            background-color: rgb(127, 146, 255);
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
            padding-left:center;
            text-align: center;
         }

    
         
        
    



